<div class="mx-auto mt-1.5">
  <div class="py-3 rounded-2xl flex items-center justify-between mx-4 md:mx-0">
    <div class="w-full text-center">
      <span class="font-bold">р╕кр╕ар╕▓р╕Юр╣Бр╕зр╕Фр╕ер╣Йр╕нр╕бр╕Бр╕▓р╕гр╕кр╕▓р╕Шр╕┤р╕Х</span>
      <br>
      <a href="<%= new_template_path %>" data-turbo-frame="modal" class="inline underline font-medium">р╕кр╕гр╣Йр╕▓р╕Зр╣Ар╕Чр╕бр╣Ар╕Юр╕ер╕Хр╣Гр╕лр╕бр╣И</a> р╣Бр╕Ър╕Ър╕Яр╕нр╕гр╣Мр╕бр╣Ар╕нр╕Бр╕кр╕▓р╕гр╕лр╕гр╕╖р╕н
      <a href="<%= start_form_url(slug: ::Template.first&.slug) %>" target="_blank" class="inline underline font-medium">р╕кр╣Ир╕Зр╣Ар╕нр╕Бр╕кр╕▓р╕гр╕Чр╕╡р╣Ир╕бр╕╡р╕нр╕вр╕╣р╣И</a> ЁЯШК
    </div>
  </div>
</div>
