<div class="alert">
  <%= svg_icon('info_circle', class: 'w-6 h-6') %>
  <div>
    <p class="font-bold">ปลดล็อคด้วย Esign Approve Pro</p>
    <p>
    ส่งการแจ้งเตือนทางอีเมลอัตโนมัติไปยังผู้รับของคุณ
      <br>
      <a class="link font-medium" target="_blank" href="<%= "#{Docuseal::CONSOLE_URL}/#{Docuseal.multitenant? ? 'plans' : 'on_premise'}" %>">เรียนรู้เพิ่มเติม</a>
    </p>
  </div>
</div>
