<p>สวัสดีคะ คุณ <%= @resource.email %>!</p>
<p>มีคนขอลิงก์เพื่อเปลี่ยนรหัสผ่านของคุณ คุณสามารถทำได้ผ่านลิงค์ด้านล่าง</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>หากท่านไม่ได้ร้องขอ โปรดอย่าสนใจอีเมลนี้</p>
<p>รหัสผ่านของท่านจะไม่เปลี่ยนแปลงจนกว่าคุณจะเข้าถึงลิงก์ด้านบนและสร้างรหัสผ่านใหม่</p>
